<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-icon-button >
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-flat-button style="margin-right: 1em; margin-left: 1em">Tarefas</button>
    <!-- <button mat-flat-button>Gráficos</button> -->
  </div>
  <div >
    <button mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
  </div>
</mat-toolbar>
<app-tarefas></app-tarefas>
